body {
  display: grid;
  font-family: Nunito, sans-serif;
  gap: 90px;
  padding-top: 95px;
  margin: 0;
  background-color: #d1d1c2;
}

p {
  font-size: 20px;
  line-height: 1.7;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.logo {
  display: block;
  margin: 0;
  padding: 20px 0px 20px 30px;
  width: 200px;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: #94532d;
  color: white;
  margin: 0;
  z-index: 2;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  padding: 0px 30px 0px 0px;
  gap: 40px;
}

.botao {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #f5f3bb;
  border-radius: 4px;
  width: 90px;
  height: 40px;
  font-size: 13px;
  font-weight: bold;
}

.botao:hover {
  transition-duration: 0.5s;
  background-color: #c0bf93;
}

.container {
  display: grid;
  border: 5px solid #f5f3bb;
  background-color: #94532d;
  color: white;
  grid-template-columns: 1fr 350px;
  max-width: 1000px;
  justify-self: center;
}

.titulo {
  font-size: 50px;
  text-align: center;
}

.introducao {
  width: 500px;
  text-align: center;
  justify-self: center;
}

.inicio .botao {
  align-content: center;
  width: 150px;
  justify-self: center;
}

h2 {
  font-size: 36px;
}

img {
  width: 100%;
}

iframe {
  width: 79%;
  justify-self: right;
}

.video {
  display: grid;
  background-color: #f5f3bb;
}

.divisao {
  display: block;
  border-top: 5px solid #94532d;
}

.inicio,
.apresentacao {
  display: grid;
  gap: 30px;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 35px;
}

.container-avaliacao {
  display: grid;
  background-color: #94532d;
  color: white;
  grid-template-columns: 1fr 350px;
  max-width: 1000px;
  justify-self: center;
}

.avaliacao-texto {
  display: grid;
  background-color: #f5f3bb;
  color: black;
  border: 5px solid #94532d;
  gap: 30px;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 75px;
}

.avaliacao {
  display: grid;
  gap: 15px;
  text-align: center;
  padding: 35px;
}

.link {
  font-size: 15px;
  justify-self: end;
  align-self: end;
  color: white;
}

.link a {
  color: white;
}

.link:hover {
  transition-duration: 0.5s;
  background-color: #724022;
}

.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 24px;
}

#person-img {
  position: relative;
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.button-container {
  text-align: center;
}

.prev-btn,
.next-btn {
  color: white;
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
  transition-duration: 0.5s;
  background-color: #724022;
}

.rodape {
  border-top: 3px inset white;
  width: 100%;
  background-color: #94532d;
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
